{
  "extends": "eslint-config-standard",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "keyword-spacing": ["error", { 
      "overrides": {
        "if": { "after": false },
        "switch": { "after": false },
        "catch": { "after": false },
        "for": { "after": false },
        "while": { "after": false }
      }
    }],
    "space-before-function-paren": ["error", {
      "named": "never",
      "asyncArrow": "always"
    }]
  }
}